{% extends 'base_register.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Register</h1>

        {{ form_start(registrationForm) }}
            <div class="form-group">
                <label for="{{ registrationForm.first_name.vars.id }}" class="form-label">First Name</label>
                {{ form_widget(registrationForm.first_name, { 'attr': {'class': 'form-input'} }) }}
            </div>
            <div class="form-group">
                <label for="{{ registrationForm.last_name.vars.id }}" class="form-label">Last Name</label>
                {{ form_widget(registrationForm.last_name, { 'attr': {'class': 'form-input'} }) }}
            </div>
            <div class="form-group">
                <label for="{{ registrationForm.phone.vars.id }}" class="form-label">Phone Number</label>
                {{ form_widget(registrationForm.phone, { 'attr': {'class': 'form-input'} }) }}
            </div>
            <div class="form-group">
                <label for="{{ registrationForm.email.vars.id }}" class="form-label">Email</label>
                {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-input'} }) }}
            </div>
            <div class="form-group">
                <label for="{{ registrationForm.plainPassword.vars.id }}" class="form-label">Password</label>
                {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-input'} }) }}
            </div>
            <div class="form-group">
                <label for="{{ registrationForm.agreeTerms.vars.id }}" class="form-label">Agree to Terms</label>
                {{ form_widget(registrationForm.agreeTerms) }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn" style="margin-left: 9px;">Register</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
    <style>
    body{
        background-image:url('https://c1.wallpaperflare.com/preview/890/402/528/gift-jeans-fashion-pack.jpg');
        background-size: 100% 100%;
    }
    .container {
        background-color: rgba(255, 255, 255, 0);
        padding: 20px;
        margin: 0 auto;
        max-width: 400px;
    }
    .title {
        color: #f4f4f4;
        text-align: center;
        margin-bottom: 20px;
    }
    .form-label {
        display: block;
        margin-bottom: 5px;
        color: white;
    }
    </style>
{% endblock %}







