{% extends 'base_org.html.twig' %}

{% block title %}Giveaway Detail{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="text-align: center;">
            <h2>{{ giveaway.name }}</h2>
            <div style="margin-bottom: 20px;">
                <img src="{{ asset('assets/img.jpg') }}" alt="Giveaway Image" style="width: 50%;">
            </div>
            <p>Start Date: {{ giveaway.startDate|date('d-m-Y') }}</p>
            <p>End Date: {{ giveaway.endDate|date('d-m-Y') }}</p>

            <h3>Prizes:</h3>
            <table style="margin: 0 auto; width: 100%; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="border: 1px solid black; padding: 8px;">Name</th>
                        <th style="border: 1px solid black; padding: 8px;">Items</th>
                        <th style="border: 1px solid black; padding: 8px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for prize in prizes %}
                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">{{ prize.name }}</td>
                            <td style="border: 1px solid black; padding: 8px;">{{ prize.items }}</td>
                            <td style="border: 1px solid black; padding: 8px;">
                                {% if giveaway.getStartDate|date('Y-m-d') <= "now"|date('Y-m-d') %}
                                    <button type="submit" class="btn btn-sm" style="background-color: red; color: white; padding: 5px 10px; border: none; border-radius: 5px;" disabled>Delete</button>
                                {% else %}
                                    <form method="POST" action="{{ path('delete_prize', {'prizeId': prize.id}) }}" style="display: inline;">
                                        <button type="submit" class="btn btn-sm" style="background-color: red; color: white; padding: 5px 10px; border: none; border-radius: 5px;">Delete</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div style="margin-top: 20px;"></div>

            {% if giveaway.winner is not null %}
                <p class="btn btn-primary" style="background-color: black; margin-top: 5px;">The winner is person number {{ giveaway.winner }}</p>
                <div style="margin-top: 10px;"></div>
                <form method="POST" action="{{ path('mail',{'giveawayId': giveaway.id}) }}" style="display: inline;">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('mail') }}" />
                    <button type="submit" class="btn btn-primary" style="background-color: black;">Inform Winner</button>
                </form>
            {% else %}
                <a href="{{ path('prize', {'giveawayId': giveawayId}) }}" class="btn btn-primary" style="background-color: black;">Add prizes!</a>

                 {% if giveaway.getEndDate|date('Y-m-d') >= "now"|date('Y-m-d') %}
                        <div class="btn btn-primary" style="background-color: red; pointer-events: none; opacity: 0.5;">
                        End date not yet reached! Come back later to select the winner!
                        </div>
                        {% else %}
                        <a href="{{ path('winner', {'giveawayId': giveawayId}) }}" class="btn btn-primary" style="background-color: black;">Select Winner!</a>
                {% endif %}
            {% endif %}

        </div>
    </div>
{% endblock %}
