    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{path('app_main')}}">WinJoy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{path('app_main')}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        {# {% if is_granted('ROLE_ORGANISATOR')%}
                        <li class="nav-item"><a class="nav-link" href="{{path('organisator')}}">Organizator</a></li>
                        {% endif %} #}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Get Started !</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{path('participationlist')}}">My Participations</a></li>
                              
                            </ul>
                        </li>
                    </ul>    

                </div>
               
                     <div class="buttons">
                <a href="{{ path('app_logout') }}" class="btn btn-primary">Log Out</a>
            </div>
            </div>
       
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <style>
        .btn-primary{
            --bs-btn-color: #fff;
            --bs-btn-bg: #191d25;
            --bs-btn-border-color: #1e2023;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #909294;
            --bs-btn-hover-border-color: #cbcccf;
            --bs-btn-focus-shadow-rgb: 49,132,253;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #e3e5e9;
            --bs-btn-active-border-color: #dfe1e4;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #e2e7ed;
            --bs-btn-disabled-border-color: #191d23;
        }
        
        </style>